* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-image: url('../../assets/images/background-repeat.svg');

  display: flex;
  flex-direction: column;
  min-height: 100%;
}
button,
a {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.highlight {
  color: $color-primary;
  white-space: nowrap;

  span {
    display: inline-block;
    animation: enter-list 2500ms forwards infinite;

    position: relative;

    @for $num from 1 through 20 {
      &:nth-child(#{$num}) {
        animation-delay: $num * 50ms;
      }
    }
  }
}

@keyframes enter-list {
  0% {
    top: 0px;
    transform: scale(1);
  }
  10% {
    top: -5px;
    transform: scale(1.1);
  }
  20% {
    top: 0px;
    transform: scale(1);
  }
}
