.BottomPage {
  &-container {
    @include page-container;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-heading {
    color: $color-subheading;
    font-size: 36px;
    margin-bottom: $spacing-40;
    text-align: center;

    @include media(450px) {
      font-size: 26px;
    }
  }

  &-action {
    display: block;
    padding: $spacing-15 $spacing-40;
    border-radius: $br-med;
    border: 2px solid $color-primary;
    font-weight: 500;
    font-size: 18px;
    transition: 250ms;
    color: $color-white;
    background-color: $color-primary;
    position: relative;
    z-index: 20;

    @include media(450px) {
      font-size: 16px;
      text-align: center;
    }

    &:hover {
      background-color: darken($color-primary, 10%);
      border-color: darken($color-primary, 10%);
    }
  }

  &-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::after {
      content: '';
      position: absolute;
      background: transparent;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      border: 5px dashed $color-primary;
    }
  }
}
