.Header {
  &-container {
    @include page-container;
    padding: $spacing-30;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-branding {
    color: $color-primary;
    display: flex;
    align-items: center;
  }

  &-brandingLogo {
    display: block;
    height: 34px;
    margin-right: $spacing-10;
  }

  &-brandingText {
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    position: relative;
    bottom: 4px;
  }

  &-menuButton {
    display: none;
    color: $color-primary;
    position: relative;
    z-index: 1000;

    svg {
      height: 30px;
      width: 30px;
      display: block;
    }

    @include media($tablet) {
      display: block;
    }
  }

  &-nav {
    display: flex;
    align-items: center;

    @include media($tablet) {
      transition: 250ms ease-in-out;
      z-index: 900;
      position: fixed;
      right: -300px;
      top: 0;
      bottom: 0;
      flex-direction: column;
      background-color: $color-white;
      padding: 100px $spacing-40 $spacing-40;
      box-shadow: 0 4px 16px rgba($color-primary, 0.5);

      &.mobile-active {
        right: 0;
      }
    }
  }

  &-navItem {
    color: $color-primary;
    font-weight: 500;
    font-size: 18px;
    transition: 250ms;
    padding: $spacing-15;
    border-radius: $br-med;
    margin-left: $spacing-30;

    &:hover {
      background-color: $color-primary-light;
    }

    @include media($tablet) {
      margin-left: 0 !important;
      width: 100%;
      text-align: center;
      width: 200px;
    }
  }

  &-appButton {
    background-color: $color-primary;
    color: $color-white;
    padding: $spacing-15 $spacing-40;
    border-radius: $br-med;
    transition: 250ms;
    margin-left: $spacing-50;

    &:hover {
      background-color: darken($color-primary, 10%);
    }

    @include media($tablet) {
      margin-top: 20px;
    }
  }
}
