<div class="Header-container">
  <div class="Header-branding">
    <img class="Header-brandingLogo" src="../../assets/images/Gem.svg" alt="" />
    <span class="Header-brandingText">scoop</span>
  </div>
  <nav class="Header-nav">
    <a href="" class="Header-navItem">Features</a>
    <a href="" class="Header-navItem">About</a>
    <a href="" class="Header-navItem">Creator</a>
    <a
      href="http://app.scoopfinance.co.uk"
      class="Header-navItem Header-appButton"
      >Go to app</a
    >
  </nav>
</div>
