<div class="Header-container">
  <a href="/" class="Header-branding">
    <img
      class="Header-brandingLogo"
      src="{{ 'assets/images/Gem.svg' | absolute_url }}"
      alt=""
    />
    <span class="Header-brandingText">scoop</span>
  </a>
  <button class="Header-menuButton">
    <i data-feather="menu"></i>
  </button>
  <nav class="Header-nav">
    <a href="/documentation" class="Header-navItem">Documentation</a>
    <a href="https://github.com/danielcornock/scoop" class="Header-navItem"
      >Contribute</a
    >
    <a href="https://www.danielcornock.co.uk" class="Header-navItem">Creator</a>
    <a
      href="https://app.scoopfinance.co.uk"
      class="Header-navItem Header-appButton"
      >Go to app</a
    >
  </nav>
</div>
