.About {
  $cmp: &;

  &-container {
    @include page-container;
    padding-top: 350px;

    @include media(1450px) {
      padding-top: 0;
    }
  }

  &-intro {
    text-align: center;
    margin-bottom: 150px;
  }

  &-heading {
    color: $color-subheading;
    font-size: 42px;
    margin-bottom: $spacing-30;

    @include media(450px) {
      font-size: 26px;
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    position: relative;

    & + & {
      margin-top: 200px;
    }

    &--inverted {
      flex-direction: row-reverse;

      #{$cmp}-image {
        transform-origin: top left;
      }

      #{$cmp}-details {
        text-align: right;
        padding: 60px 60px 0 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    @include media(1450px) {
      flex-direction: column-reverse;
    }
  }

  &-image {
    @include app-image;
    transform-origin: top right;
    transform: scale(1.5);
    width: 50%;

    @include media(1450px) {
      width: 100%;
      max-width: 800px;
      margin: auto;
      transform: initial;
    }
  }

  &-subImage {
    @include app-image;
    position: absolute;
    top: 80%;
    left: 20%;
    height: 400px;

    @include media(1450px) {
      height: 40%;
    }
  }

  &-details {
    padding: 60px 0 60px 60px;
    min-width: 695px;

    @include media(1450px) {
      display: flex;
      flex-direction: column;
      align-items: center !important;
      text-align: center !important;
      padding: 0 !important;
      margin-bottom: $spacing-80;
      width: 100%;
      min-width: initial;
    }
  }

  &-headingText {
    color: $color-subheading;
    font-size: 36px;
    margin-bottom: $spacing-20;

    @include media(450px) {
      font-size: 20px;
    }
  }

  &-subheading {
    color: $color-subheading;
    font-size: 36px;
    margin-bottom: $spacing-20;

    @include media(450px) {
      font-size: 26px;
    }
  }

  &-text {
    color: $color-subheading;
    font-size: 22px;
    font-weight: 500;
    line-height: 2;
    max-width: 1000px;
    margin: auto;

    @include media(450px) {
      font-size: 18px;
    }
  }

  &-iconContainer {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary-light;
    border-radius: $br-max;
    margin-bottom: $spacing-20;

    @include media(450px) {
      height: 80px;
      width: 80px;
    }
  }

  &-icon {
    color: $color-primary;
    height: 60px;
    width: 60px;
    @include media(450px) {
      height: 40px;
      width: 40px;
    }
  }
}
