<div class="About-container">
  <h2 class="About-heading">
    Keep a monthly log of <span class="highlight">everything</span>, all in one
    place.
  </h2>

  <div class="About-content">
    <img src="../../assets/images/investments.png" alt="" class="About-image" />
    <div class="About-details">
      <h3 class="About-subheading">Track your investments</h3>
      <p class="About-text">
        Every month, create a log totalling the amount you've added and the
        amount that your total investment is worth. Scoop will do all of the
        working out for you and present you with the most important information
        alongside sleek, complimentrary charts.
      </p>
    </div>
  </div>
</div>
