<div class="About-container">
  <div class="About-intro">
    <h2 class="About-heading">
      Keep a monthly log of
      <span class="highlight">
        <span>e</span><span>v</span><span>e</span><span>r</span><span>y</span
        ><span>t</span><span>h</span><span>i</span><span>n</span
        ><span>g</span></span
      >, all in one place.
    </h2>
    <p class="About-text About-headingText">
      Everyone has their own way of tracking their finances, whether it be in a
      book, on an excel spreadsheet or just via their bank. Scoop is essentially
      a turbocharged excel spreadsheet, with some pretty visualisations. You log
      the metrics, scoop will do the rest.
    </p>
  </div>

  <div class="About-content" id="more">
    <img src="../../assets/images/investments.png" alt="" class="About-image" />
    <div class="About-details">
      <div class="About-iconContainer">
        <i class="About-icon" data-feather="trending-up"></i>
      </div>
      <h3 class="About-subheading">Track your investments</h3>
      <p class="About-text">
        Every month, create a log totalling the amount you've added and the
        amount that your total investment is worth. Scoop will do all of the
        working out for you and present you with the most important information
        alongside sleek, complimentary charts.
      </p>
    </div>
  </div>

  <div class="About-content About-content--inverted">
    <img src="../../assets/images/net-worth.png" alt="" class="About-image" />
    <div class="About-details">
      <div class="About-iconContainer">
        <i class="About-icon" data-feather="bar-chart"></i>
      </div>
      <h3 class="About-subheading">Measure your net worth</h3>
      <p class="About-text">
        Using fields that you define yourself, you can completely customise the
        things that you want to keep track of. Just hop on once a month to fill
        in the details, and let Scoop do all of the working out for you.
      </p>
    </div>
  </div>

  <div class="About-content">
    <img src="../../assets/images/salary.png" alt="" class="About-image" />
    <div class="About-details">
      <div class="About-iconContainer">
        <i class="About-icon" data-feather="dollar-sign"></i>
      </div>
      <h3 class="About-subheading">Keep track of your salary</h3>
      <p class="About-text">
        Instead of referring back to a pile of payslips, log every payment you
        get on Scoop. Scoop will then provide key figures and allow you to get
        the summary you need, at a glance. You can also receive an estimation
        for your tax return in the current tax year.
      </p>
    </div>
  </div>

  <div class="About-content About-content--inverted">
    <img src="../../assets/images/settings.png" alt="" class="About-image" />
    <img
      src="../../assets/images/settings-2.png"
      alt=""
      class="About-subImage"
    />
    <div class="About-details">
      <div class="About-iconContainer">
        <i class="About-icon" data-feather="settings"></i>
      </div>
      <h3 class="About-subheading">Complete customisation</h3>
      <p class="About-text">
        You choose the metrics that you want to measure, as well as what you
        want summarised for you. Create meta collections that display the sum of
        multiple fields, and pick your own icon to compliment it.
      </p>
    </div>
  </div>
</div>
