.Hero {
  &-container {
    @include page-container;
  }

  &-image {
    @include app-image;
    width: 800px;
    transform-origin: top left;
    transform: scale(1.5);

    @include media(1450px) {
      display: none;
    }
  }

  &-left {
    min-width: 590px;

    @include media(1450px) {
      min-width: initial;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 320px;
      text-align: center;
    }
  }

  &-content {
    padding-top: 200px;
    display: flex;

    @include media(1450px) {
      display: block;
    }
  }

  &-heading {
    font-size: 54px;
    color: $color-primary;
    margin-bottom: $spacing-30;

    @include media(450px) {
      font-size: 36px;
    }
  }

  &-actions {
    display: flex;

    @include media(450px) {
      width: 100%;
    }

    @include media(370px) {
      display: block;
    }
  }

  &-action {
    display: block;
    padding: $spacing-15 $spacing-40;
    border-radius: $br-med;
    border: 2px solid $color-primary;
    font-weight: 500;
    font-size: 18px;
    transition: 250ms;

    &--primary {
      color: $color-white;
      background-color: $color-primary;

      &:hover {
        background-color: darken($color-primary, 10%);
        border-color: darken($color-primary, 10%);
      }
    }

    &--secondary {
      color: $color-primary;

      &:hover {
        background-color: $color-white;
      }
    }

    & + & {
      margin-left: $spacing-10;

      @include media(370px) {
        margin-left: 0;
        margin-top: $spacing-10;
      }
    }

    @include media(450px) {
      padding: $spacing-15 0;
      text-align: center;
      flex: 1 1 100%;
    }
  }
}
