<div class="Hero-container">
  <div class="Hero-content">
    <div class="Hero-left">
      <h2 class="Hero-heading">Keep track of your finances with ease.</h2>
      <div class="Hero-actions">
        <a
          href="https://app.scoopfinance.co.uk/register"
          class="Hero-action Hero-action--primary"
          >Sign up</a
        >
        <a href="#more" class="Hero-action Hero-action--secondary"
          >Find out more</a
        >
      </div>
    </div>
    <img src="../../assets/images/net-worth.png" alt="" class="Hero-image" />
  </div>
</div>
